<div class="grid_rc_container ">
  <p><label><input type="radio" oninput="this.className = ''" value="I face trouble falling asleep"><span></span></label> One-time purchase <span>£27.99</span></p>
  <p><label><input type="radio" oninput="this.className = ''" value="I face trouble falling asleep"><span></span></label> Subscribe & save 10% <span>£23.99</span></p></div>