<div class="page-content page-width">
  <div class="grid">
    <div class="grid__item large--five-sixths push--large--one-twelfth">
      <header class="section-header">
        <h1 class="section-header__title">{{ page.title }}</h1>
      </header>
      <div class="rte">
        {{ page.content }}
      </div>
      <iframe src="https://www.closeby.co/embed/2ea8804e0ec23afd897261367fdfbd6e" width="100%" height="700" style="border:none" allow="geolocation"></iframe>
    </div>
  </div>
</div>